.env
**/.env
venv

**/.log
**/.pot
**/.pyc
**/__pycache__

**/media

# Backup files # 
**/*.bak 

# If you are using PyCharm #
# No, screw this, we ust ignore ./idea completely
.idea/

# Python # 
**/*.py[cod] 
**/*$py.class 